/* TODO LIST */

.todo-list {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list h1 {
  text-align: center;
}

/* TODO FORM */

.todo-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.todo-form input {
  flex: 1 1 0;
}

/* TODO ITEM */

.todo-item form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo-item p {
  flex: 1 1 0;
}

.todo-item p.completed {
  text-decoration: line-through;
}


